<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-utensils fa-6x"></i>
    <h1 class="display-3">Welcome to Foodie Secrets!</h1>

    <div class="mt-4">
      <h4 class="mb-3">Discover Delicious Secrets Shared by Foodies</h4>

      <% usersWithSecrets.forEach(function(user){ %>
        <p class="secret-text"><%= user.secret %></p>
      <% }) %>
    </div>

    <hr>

    <!-- Add the new form for submitting feedback, image, and text file -->
    <form action="/submit" method="post" enctype="multipart/form-data" class="mt-4">
      <div class="form-group">
        <label for="feedback">Feedback (1 to 5):</label>
        <input type="number" id="feedback" name="feedback" min="1" max="5" required class="form-control">
      </div>

      <div class="form-group">
        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image" class="form-control">
      </div>

      <div class="form-group">
        <label for="textFile">Upload Text File:</label>
        <input type="file" id="textFile" name="textFile" class="form-control">
      </div>

      <button type="submit" class="btn btn-dark btn-lg btn-block">Submit files</button>
    </form>
    <!-- End of the new form -->

    <div class="row mt-4">
      <div class="col-md-6 mb-3">
        <a class="btn btn-light btn-lg btn-block" href="/logout" role="button">Log Out</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-dark btn-lg btn-block" href="/submit" role="button">Submit your favorite food</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
